@model ClaseModelo.Red_Conocimiento

@{
    ViewBag.Title = "Create";
}



<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Gestionar Competencias</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item">Red de Conocimiento</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Registrar</li>
                </ol>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Registrar Red de Conocimiento</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                @Html.AntiForgeryToken()
                                <form>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Codigo</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.CodigoRed, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.CodigoRed, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Nombre</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.NombreRed, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.NombreRed, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.HiddenFor(model => model.EstadoRed, new { Value = "True" })
   
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary m-r-15" type="submit">Registrar</button>
                        <button class="btn btn-light" type="button"><a href="@Url.Action("Index","Red_Conocimiento")">Cancelar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
