@model ClaseModelo.Red_Conocimiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Red de Conocimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreRed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoRed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoRed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdRed }) |
    @Html.ActionLink("Volver", "Index")
</p>
