@model ClaseModelo.Red_Conocimiento

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card-body align-items-center">
        <div class="block block-bordered col-md-6 mx-auto">
            <div class="">

                <div class="card-header">
                    <h4>Red de conocimiento</h4>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdRed)

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreRed, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NombreRed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NombreRed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" /> | @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $('form').on('submit', function (e) {
                let isValid = true;

                const nombreInput = $('#NombreRed');
                if (nombreInput.val().trim() === '') {
                    isValid = false;
                    nombreInput.addClass('is-invalid');
                    nombreInput.next('.text-danger').text('Este campo es obligatorio.');
                } else {
                    nombreInput.removeClass('is-invalid');
                    nombreInput.next('.text-danger').text('');
                }

                if (!isValid) {
                    e.preventDefault();
                    alert('Por favor, complete todos los campos obligatorios.');
                }
            });
        });
    </script>
}
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
