@model IEnumerable<ClaseModelo.Red_Conocimiento>

@{
    ViewBag.Title = "Index";
}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Red de Conocimiento</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Aprendizs")">Home</a></li>
                    <li class="breadcrumb-item">Red de Conocimiento</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
            <div class="col-sm-6">
            
               
            </div>
        </div>
    </div>
</div>
<br />
<div class="card-body">
    <div class="block block-rounded">
        <div class="block-header block-header-default d-flex align-items-center">
            <div class="col-sm-4">
                <br />
                <h2 class="content-heading">Tabla de Redes de Conocimientos</h2>
                <br />
                @using (Html.BeginForm("Index", "Red_Conocimiento", FormMethod.Get))
                {
                    <div class="d-flex align-items-center">
                        <label for="estadoFiltro" class="me-2">Estado:</label>
                        <select class="form-select me-2" id="estadoFiltro" name="estadoFiltro">
                            <option value="" @(ViewBag.EstadoFiltro == "" ? "selected" : "")>Todos</option>
                            <option value="true" @(ViewBag.EstadoFiltro == "true" ? "selected" : "")>Activo</option>
                            <option value="false" @(ViewBag.EstadoFiltro == "false" ? "selected" : "")>No Activo</option>
                        </select>
                        <input class="btn btn-success btn-sm" type="submit" value="Filtrar" />
                    </div>
                }
            </div>
            <div class="col-sm-8 d-flex justify-content-end">
                <button class="btn btn-light"><a href="@Url.Action("Create","Red_Conocimiento")">Crear</a></button>
            </div>
        </div>
        <br />
        <div class="block-content block-content-full">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th style="width: 15%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="fs-sm">@Html.DisplayFor(modelItem => item.IdRed)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreRed)
                                </td>
                                <td>
                                    @if (item.EstadoRed == true)
                                    {
                                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-danger-light text-danger">Inactivo</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdRed }) |
                                    @Html.ActionLink("Areas", "Area_Red", new { id = item.IdRed }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdRed })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>