@model IEnumerable<ClaseModelo.Programa_Formacion>
@{
    ViewBag.Title = "Red de conocimiento";
}

<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Programas Asociadas al Area: @ViewBag.NombreArea</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item">Red de Conocimiento</li>
                    <li class="breadcrumb-item">@ViewBag.NombreRed</li>
                    <li class="breadcrumb-item">@ViewBag.NombreArea</li>
                    <li class="breadcrumb-item active">Consultar Programas</li>
                </ol>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="col-sm-4">
                <h5>Tabla de datos - Areas de Conocimiento</h5>
                @*@using (Html.BeginForm("Index", "Fichas", FormMethod.Get))
                {
                    <div class="d-flex align-items-center">
                        <label for="estadoFiltro" class="me-2">Estado:</label>
                        <select class="form-select me-2" id="estadoFiltro" name="estadoFiltro">
                            <option value="" @(ViewBag.EstadoFiltro == "" ? "selected" : "")>Todos</option>
                            <option value="true" @(ViewBag.EstadoFiltro == "true" ? "selected" : "")>Activo</option>
                            <option value="false" @(ViewBag.EstadoFiltro == "false" ? "selected" : "")>No Activo</option>
                        </select>
                        <input class="btn btn-success btn-sm" type="submit" value="Filtrar" />
                    </div>
                }*@
            </div>
            @*<div class="col-sm-8 d-flex justify-content-end">
                    @if (@Session["TipoUsuario"].ToString() == "InstructorAdmin")
                    {
                        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Asociar_Aprendiz_Ficha", "Fichas", new { idFicha = ViewBag.FichaId })'">
                            Agregar Aprendiz
                        </button>
                    }
                </div>*@
        </div>

        <div class="card-body">
            @*@using (Html.BeginForm("GenerarReportePDFAprendiz", "Fichas", FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@ViewBag.FichaId" />
                    <button type="submit" class="btn btn-primary">Generar Reporte PDF</button>
                }*@


            <div class="table-responsive">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive js-dataTable-buttons">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Denominación</th>
                            <th>Versión</th>
                            <th>Nivel</th>
                            <th>Area de Conocimiento</th>
                            <th class="ignorar-columna" style="width: 15%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="fs-sm">@Html.DisplayFor(modelItem => item.IdPrograma)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DenominacionPrograma)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VersionPrograma)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NivelPrograma)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Area_Conocimiento.NombreArea)
                                </th>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdArea }) |
                                    @Html.ActionLink("Fichas", "Ficha_Programa_Area_Red", new { id = item.IdPrograma, idRed = ViewBag.RedId, idArea = ViewBag.AreaId })  |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdArea })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 d-flex justify-content-end">
                <button class="btn btn-light" type="button" style="margin-top: 15px;"><a href="@Url.Action("Index","Red_Conocimiento")">Volver</a></button>
            </div>
        </div>
    </div>
</div>


