@model ClaseModelo.Instructor

@{
    ViewBag.Title = "Create";
}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Gestionar Instructor</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item">Instructor</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Registrar</li>
                </ol>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Registrar Instructor</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                @Html.AntiForgeryToken()
                                <form>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Documento</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.DocumentoInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.DocumentoInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Nombre Completo</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.NombreCompletoInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.NombreCompletoInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Codigo Regional</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.CodRegionalInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.CodRegionalInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Regional</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.RegionalInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.RegionalInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Cod CCOS</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.CodCCOS, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.CodCCOS, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Dependencia</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.DependenciaInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.DependenciaInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Cargo</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.CargoInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.CargoInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Tipo Cargo</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.TipoCargoInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.TipoCargoInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Correo SENA</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.CorreoSENAInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.CorreoSENAInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Red de Conocimiento</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.RedInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.RedInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Area de Conocimiento</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.AreaInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.AreaInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Ruta</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.RutaInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.RutaInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Codigo de Municipio</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.CodMunicipioInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.CodMunicipioInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Fecha de Nacimiento</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.FechaNacimientoInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaNacimientoInstructor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Fecha Ingreso</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Sexo</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.SexoInstructor, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.SexoInstructor, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.HiddenFor(model => model.EstadoInstructor, new { Value = "True" })

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary m-r-15" type="submit">Registrar</button>
                        <button class="btn btn-light" type="button"><a href="@Url.Action("Index","Instructors")">Cancelar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

