@model ClaseModelo.Ambiente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ambiente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreAmbiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAmbiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoAmbiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoAmbiente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdAmbiente }) |
    @Html.ActionLink("Regresar", "Index")
</p>
