@model IEnumerable<ClaseModelo.Ambiente>

@{
    ViewBag.Title = "Ambientes";
}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Ambiente</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item">Ambiente</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
            <div class="col-sm-6">


            </div>
        </div>
    </div>
</div>
<br />
<div class="card-body">
    <div class="block block-rounded" >
        <div class="col-sm-12">

            <div class="block-header block-header-default d-flex align-items-center">
                <div class="col-sm-4">
                    <h3 class="content-heading">Tabla de Ambientes</h3> 
                    @*@using (Html.BeginForm("Index", "UsuariosAprendiz", FormMethod.Get))
                    {
                        <div class="d-flex align-items-center">
                            <label for="estadoFiltro" class="me-2">Estado:</label>
                            <select class="form-select me-2" id="estadoFiltro" name="estadoFiltro">
                                <option value="" @(ViewBag.EstadoFiltro == "" ? "selected" : "")>Todos</option>
                                <option value="true" @(ViewBag.EstadoFiltro == "true" ? "selected" : "")>Activo</option>
                                <option value="false" @(ViewBag.EstadoFiltro == "false" ? "selected" : "")>No Activo</option>
                            </select>
                            <input class="btn btn-success btn-sm" type="submit" value="Filtrar" />
                        </div>
                    }*@
                </div>
                <div class="col-sm-8 d-flex justify-content-end">
                    <button class="btn btn-light"><a href="@Url.Action("Create","Ambientes")">Crear</a></button>
                </div>
            </div>

            <br />
            <div class="block-content block-content-full">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="fs-sm">@Html.DisplayFor(modelItem => item.IdAmbiente)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreAmbiente)
                                    </td>
                                    <td>
                                        @if (item.EstadoAmbiente == true)
                                        {
                                            <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">Activo</span>
                                        }
                                        else
                                        {
                                            <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-danger-light text-danger">Inactivo</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.IdAmbiente }) |
                                        @Html.ActionLink("Asignación", "Programa_Area", new { id = item.IdAmbiente }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdAmbiente })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
</div>