@model ClaseModelo.Meta

@{
    ViewBag.Title = "Details";
}
<main id="main-container">
    <div class="content">
        <div class="d-flex text-center">
            <div class="flex-grow-1 mb-1 mb-md-0">
                <h1 class="h3 fw-bold mb-2">
                    Detalles de la meta
                </h1>
            </div>
        </div>
    </div>


    <div class="content row text-center">
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaFecha)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaFecha)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTecnPresencial)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTecnPresencial)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTecnVirtual)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTecnVirtual)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTecPresencial)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTecPresencial)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTecVirtual)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTecVirtual)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">Meta ET 
                     </h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaETPresencial)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">Meta ET virtual</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaETVirtual)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">Meta otros</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaOtros)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">TGO Pasan</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTGOApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">TCO Pasan</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTCOApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">Meta ET pasan</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaETApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">Meta otros pasan</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaOTROApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-block">
            <div class="bcol-md-10">
                <a href="/Metas" class="btn btn-default">Volver</a>
                @*@Html.ActionLink("Volver", "Index")*@
            </div>
        </div>
    </div>
</main>
