@model ClaseModelo.Meta

@{
    ViewBag.Title = "Details";
}
<main id="main-container">
    <div class="content">
        <div class="d-flex text-center">
            <div class="flex-grow-1 mb-1 mb-md-0">
                <h1 class="h3 fw-bold mb-2">
                    Detalles de la meta
                </h1>
            </div>
        </div>
    </div>


    <div class="content row text-center">
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaFormacion)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaFormacion)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTecnologia)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTecnologia)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTecnico)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTecnico)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaET)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaET)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaOtros)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaOtros)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTGOApPasan)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTGOApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaTCOApPasan)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaTCOApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaETApPasan)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaETApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="block block-rounded">
                <div class="block-header block-header-default"><h6 class="block-title">@Html.DisplayNameFor(model => model.MetaOTROApPasan)</h6></div>
                <div class="block-content">
                    <p>
                        <code>
                            @Html.DisplayFor(model => model.MetaOTROApPasan)
                        </code>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-block">
            <div class="bcol-md-10">
                <a href="/Metas" class="btn btn-default">Volver</a>
                @*@Html.ActionLink("Volver", "Index")*@
            </div>
        </div>
    </div>
</main>
