@model ClaseModelo.Meta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MetaFormacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaFormacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTecnologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTecnologia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaOtros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaOtros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoMeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoMeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTGOApPasan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTGOApPasan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTCOApPasan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTCOApPasan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaETApPasan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaETApPasan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaOTROApPasan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaOTROApPasan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMeta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
