@model ClaseModelo.Meta

@{
    ViewBag.Title = "Details";

    double APRENDICES_POR_CURSOS = 30;
    double APRENDICES_POR_CURSOS_OTROS = 35;


    double RESULT_META_TGO_AP_PROG = (long.Parse(Model.MetaTecnPresencial.ToString()) + long.Parse(Model.MetaTecnVirtual.ToString()) - long.Parse(Model.MetaTGOApPasan.ToString()));
    double RESULT_META_TCO_AP_PROG = (long.Parse(Model.MetaTecPresencial.ToString()) + long.Parse(Model.MetaTecVirtual.ToString()) - long.Parse(Model.MetaTCOApPasan.ToString()));
    double RESULT_META_ET_AP_PROG = (long.Parse(Model.MetaETPresencial.ToString()) + long.Parse(Model.MetaETVirtual.ToString()) - long.Parse(Model.MetaETApPasan.ToString()));
    double RESULT_META_OTROS_AP_PROG = (long.Parse(Model.MetaOtros.ToString()) - long.Parse(Model.MetaOTROApPasan.ToString()));

    double CURSO_META_TGO = dividir(RESULT_META_TGO_AP_PROG, APRENDICES_POR_CURSOS);
    double CURSO_META_TCO = dividir(RESULT_META_TCO_AP_PROG, APRENDICES_POR_CURSOS);
    double CURSO_META_ET = dividir(RESULT_META_ET_AP_PROG, APRENDICES_POR_CURSOS_OTROS);
    double CURSO_META_OTROS = dividir(RESULT_META_OTROS_AP_PROG, APRENDICES_POR_CURSOS_OTROS);

    //double META_GENERAL = CURSO_META_TGO + CURSO_META_TCO + CURSO_META_ET + CURSO_META_OTROS;

    double dividir(double dividendo, double divisor)
    {
        if (dividendo < 0) return 0;
        if (divisor < 0) return 0;
        return Math.Round((dividendo / divisor) == 0 ? 0 : (dividendo / divisor));
    }
}

<div class="card-body">

    <div class="content text-center">
        <div class="d-flex">
            <div class="flex-grow-1 mb-1 mb-md-0">
                <h1 class="h3 fw-bold mb-2">
                    Detalles de la meta <a class="fw-semibold">@Html.DisplayFor(model => model.MetaFecha)</a>
                </h1>
            </div>
        </div>
    </div>
    <hr />
    <div class="content">
        <div class="row items-push">
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold text-primary">Tecnólogo</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@Html.DisplayFor(model => model.MetaTecnPresencial)</dd>
                        </dl>
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Virtual</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@Html.DisplayFor(model => model.MetaTecnVirtual)</dd>
                        </dl>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@Html.DisplayFor(model => model.MetaTGOApPasan)</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos</h3><small>@CURSO_META_TGO</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold">Técnico</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@Html.DisplayFor(model => model.MetaTecPresencial)</dd>
                        </dl>
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Virtual</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@Html.DisplayFor(model => model.MetaTecVirtual)</dd>
                        </dl>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@Html.DisplayFor(model => model.MetaTCOApPasan)</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos</h3><small>@CURSO_META_TCO</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold" style="color: #CB7766 !important;">Especialista Técnico</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@Html.DisplayFor(model => model.MetaETPresencial)</dd>
                        </dl>
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Virtual</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@Html.DisplayFor(model => model.MetaETVirtual)</dd>
                        </dl>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@Html.DisplayFor(model => model.MetaETApPasan)</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos</h3><small>@CURSO_META_ET</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold" style="color: #6A6A6A !important;">Otros</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center ">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center ">@Html.DisplayFor(model => model.MetaOtros)</dd>
                        </dl>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@Html.DisplayFor(model => model.MetaOTROApPasan)</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos</h3><small>@CURSO_META_OTROS</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
        </div>
    </div>

    <div class="content text-center">
        <div class="d-flex">
            <div class="flex-grow-1 mb-1 mb-md-0">
                <h1 class="h3 fw-bold mb-2">
                    Detalles del progreso de la meta <a class="fw-semibold">@Html.DisplayFor(model => model.MetaFecha)</a>
                </h1>
            </div>
        </div>
    </div>
    <hr />
    <div class="content">
        <div class="row items-push">
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold text-primary">Tecnólogo</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@ViewBag.ApPasan</dd>
                        </dl>
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Virtual</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@ViewBag.ApPasanV</dd>
                        </dl>

                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@ViewBag.ApPasan</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos (Presc. + Virt.)</h3><small>@ViewBag.CantCursos + @ViewBag.CantCursosV</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold">Técnico</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@ViewBag.ApPasanT</dd>
                        </dl>
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Virtual</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@ViewBag.ApPasanVT</dd>
                        </dl>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@ViewBag.ApPasanT</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos (Presc. + Virt.)</h3><small>@ViewBag.CantCursosT + @ViewBag.CantCursosVT</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold" style="color: #CB7766 !important;">Especialista Técnico</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@ViewBag.ApPasanEP</dd>
                        </dl>
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Virtual</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@ViewBag.ApPasanEPV</dd>
                        </dl>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@ViewBag.ApPasanEP</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos (Presc. + Virt.)</h3><small>@ViewBag.CantCursosEP + @ViewBag.CantCursosEPV</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-header block-header-default"><h6 class="block-title text-center fw-bold" style="color: #6A6A6A !important;">Otros</h6></div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center border-bottom">
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center ">Presencial</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center ">@ViewBag.ApPasanOT</dd>
                        </dl>
                        <dl class="mb-0">
                            <dt class="fs-6 fw-bold text-center">Virtual</dt>
                            <dd class="fs-3 fw-medium text-muted mb-0 text-center">@ViewBag.ApPasanOTV</dd>
                        </dl>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title">Ap Pasan</h3><small>@ViewBag.ApPasanOT</small>
                    </div>
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center py-1">
                        <h3 class="block-title"># Cursos (Presc. + Virt.)</h3><small>@ViewBag.cantCursosOT + @ViewBag.cantCursosOTV</small>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="content text-center">
            <div class="d-flex">
                <div class="flex-grow-1 mb-1 mb-md-0">
                    <h3>Instructores a contratar año  <a class="fw-semibold">@Html.DisplayFor(model => model.MetaFecha)</a></h3>

                </div>
            </div>
        </div>
        <!-- Overview -->
        <div class="row items-push">
            <div class="col-sm-6 col-xxl-3">
                <!-- Pending Orders -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                        <dl class="mb-0">
                            <dt class="fs-3 fw-bold">4</dt>
                            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre I</dd>
                        </dl>
                        <div class="item item-rounded-lg bg-body-light">
                            <i class="fa fa-2x fa-user-tie text-primary"></i>
                        </div>
                    </div>
                    <div class="bg-body-light rounded-bottom">
                        <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarITrim",   "Metas", new { metaId = Model.IdMeta })">
                            <span>Detalles</span>
                            <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                        </a>
                    </div>
                </div>
                <!-- END Pending Orders -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- New Customers -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                        <dl class="mb-0">
                            <dt class="fs-3 fw-bold">4</dt>
                            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre II</dd>
                        </dl>
                        <div class="item item-rounded-lg bg-body-light">
                            <i class="fa fa-2x fa-user-tie text-primary" style="color: #00324D !important;"></i>
                        </div>
                    </div>
                    <div class="bg-body-light rounded-bottom">
                        <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarIITrim", "Metas", new { metaId = Model.IdMeta })">
                            <span>Detalles</span>
                            <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                        </a>
                    </div>
                </div>
                <!-- END New Customers -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Messages -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                        <dl class="mb-0">
                            <dt class="fs-3 fw-bold">2</dt>
                            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre III</dd>
                        </dl>
                        <div class="item item-rounded-lg bg-body-light">
                            <i class="fa fa-2x fa-user-tie text-primary" style="color: #CB7766 !important;"></i>
                        </div>
                    </div>
                    <div class="bg-body-light rounded-bottom">
                        <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarIIITrim",   "Metas", new { metaId = Model.IdMeta })">
                            <span>Detalles</span>
                            <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                        </a>
                    </div>
                </div>
                <!-- END Messages -->
            </div>
            <div class="col-sm-6 col-xxl-3">
                <!-- Conversion Rate -->
                <div class="block block-rounded d-flex flex-column h-100 mb-0">
                    <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                        <dl class="mb-0">
                            <dt class="fs-3 fw-bold">2</dt>
                            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre IV</dd>
                        </dl>
                        <div class="item item-rounded-lg bg-body-light">
                            <i class="fa fa-2x fa-user-tie text-primary" style="color: #6A6A6A !important;"></i>
                        </div>
                    </div>
                    <div class="bg-body-light rounded-bottom">
                        <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarVITrim",   "Metas", new { metaId = Model.IdMeta })">
                            <span>Detalles</span>
                            <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                        </a>
                    </div>
                </div>
                <!-- END Conversion Rate-->
            </div>
        </div>

    </div>

    <div class="block block-rounded content py-3 d-flex justify-content-between align-items-center">
        <a href="/Metas" class="btn btn-default">Volver</a>
        <a href="@Url.Action("Edit","Metas",new {id = Model.IdMeta})">Editar</a>
    </div>
</div>
