@model IEnumerable<ClaseModelo.Meta>

@{
    ViewBag.Title = "Index";
}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Metas</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">Metas</li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>
<br />

<div class="card-body">
    <div class="block block-rounded">
        <div class="col-sm-12">

            <div class="block-header block-header-default d-flex align-items-center">
                <div class="col-sm-4">
                    <br />
                    <h5>Tabla de Ficha</h5>
                    <br />
                    @using (Html.BeginForm("Index", "UsuariosAprendiz", FormMethod.Get))
                    {
                        <div class="d-flex align-items-center">
                            <label for="estadoFiltro" class="me-2">Estado:</label>
                            <select class="form-select me-2" id="estadoFiltro" name="estadoFiltro">
                                <option value="" @(ViewBag.EstadoFiltro == "" ? "selected" : "")>Todos</option>
                                <option value="true" @(ViewBag.EstadoFiltro == "true" ? "selected" : "")>Activo</option>
                                <option value="false" @(ViewBag.EstadoFiltro == "false" ? "selected" : "")>No Activo</option>
                            </select>
                            <input class="btn btn-success btn-sm" type="submit" value="Filtrar" />
                        </div>
                    }
                </div>
                <div class="col-sm-8 d-flex justify-content-end">
                    <button class="btn btn-light"><a href="@Url.Action("Create","Metas")">Crear</a></button>
                </div>
            </div>

            <br />

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    double APRENDICES_POR_CURSOS = 30;
                    double APRENDICES_POR_CURSOS_OTROS = 35;

                    double RESULT_META_TGO_AP_PROG = 0;
                    double RESULT_META_TCO_AP_PROG = 0;
                    double RESULT_META_ET_AP_PROG = 0;
                    double RESULT_META_OTROS_AP_PROG = 0;

                    if (double.TryParse(item.MetaTGOApPasan.ToString(), out double metaTGOApPasan) &&
                        double.TryParse(item.MetaTecnPresencial.ToString(), out double metaTecnPresencial) &&
                        double.TryParse(item.MetaTecnVirtual.ToString(), out double metaTecnVirtual))
                    {
                        RESULT_META_TGO_AP_PROG = Math.Round(metaTGOApPasan / (metaTecnPresencial + metaTecnVirtual) * 100, 2);
                    }

                    if (double.TryParse(item.MetaTCOApPasan.ToString(), out double metaTCOApPasan) &&
                        double.TryParse(item.MetaTecPresencial.ToString(), out double metaTecPresencial) &&
                        double.TryParse(item.MetaTecVirtual.ToString(), out double metaTecVirtual))
                    {
                        RESULT_META_TCO_AP_PROG = Math.Round(metaTCOApPasan / (metaTecPresencial + metaTecVirtual) * 100, 2);
                    }

                    if (double.TryParse(item.MetaETApPasan.ToString(), out double metaETApPasan) &&
                        double.TryParse(item.MetaETPresencial.ToString(), out double metaETPresencial) &&
                        double.TryParse(item.MetaETVirtual.ToString(), out double metaETVirtual))
                    {
                        RESULT_META_ET_AP_PROG = Math.Round(metaETApPasan / (metaETPresencial + metaETVirtual) * 100, 2);
                    }

                    if (double.TryParse(item.MetaOTROApPasan.ToString(), out double metaOTROApPasan) &&
                        double.TryParse(item.MetaOtros.ToString(), out double metaOtros))
                    {
                        RESULT_META_OTROS_AP_PROG = Math.Round(metaOTROApPasan / metaOtros * 100, 2);
                    }

                    double META_GENERAL = Math.Round((RESULT_META_TGO_AP_PROG + RESULT_META_TCO_AP_PROG + RESULT_META_ET_AP_PROG + RESULT_META_OTROS_AP_PROG) / 4, 2);

                    <div class="content">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Meta general vigente del año <a class="fw-semibold"><span>@Html.DisplayFor(modelItem => item.MetaFecha)</span></a></h4>
                                <div class="progress push">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: @META_GENERAL%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <span class="fs-sm fw-semibold">@META_GENERAL%</span>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-2">
                                <br />
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdMeta }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.IdMeta }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdMeta })
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="content">
                    <div class="row">
                        <div class="col-md-10">
                            <h4>No hay metas registradas</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>