@model IEnumerable<ClaseModelo.ResumenAreaConocimiento>
@{
    ViewBag.Title = "Instructores_ContratarITrim";
}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Instructores a Contratar - Detalles</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">Planeación</li>
                    <li class="breadcrumb-item active">Instructores a Contratar - <span data-toggle="year-copy"></span></li>
                    <li class="breadcrumb-item active">I Trimestre</li>
                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>
<br />


<br />
<div class="card-body">
    <div>

    </div>
    <br />
    <div class="block block-rounded">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <div class="block-option">
                    <h3 class="block-title">Instructores a contratar - I Trimestre</h3>
                    <small>28</small>
                </div>

            </div>
        </div>
        <div class="block-content block-content-full">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                <thead>
                    <tr>
                        <th>Red de Conocimiento</th>
                        <th>Area de Conocimiento</th>
                        <th>No. Fichas</th>
                        <th>Horas Requeridas</th>
                        <th>Horas Contratos</th>
                        <th>No. Instructores - Planta</th>
                        <th>No. Instructores - Contrato</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RedConocimiento</td>
                            <td>@item.AreaConocimiento</td>
                            <td>@item.NumeroFichas</td>
                            <td>@item.HorasRequeridas</td>
                            <td>@item.HorasContrato</td>
                            <td>@item.NumeroInstructoresPlanta</td>
                            @if (item.NumeroInstructoresContrato < 1)
                            {
                                <td>0</td>
                            }
                            else
                            {
                                <td>@item.NumeroInstructoresContrato</td>
                            }
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>

</div>
