@model ClaseModelo.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumentoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumentoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContraseñaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContraseñaUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Regresar", "Index")
</p>
