@model ClaseModelo.Area_Conocimiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Area_Conocimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            //
        </dt>

        <dd>
            //
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Red_Conocimiento.NombreRed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Red_Conocimiento.NombreRed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdArea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
