@model ClaseModelo.Area_Conocimiento

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card-body align-items-center">
        <div class="block block-bordered col-md-6 mx-auto">
            <div class="card-body">
                <div class="card-header">
                    <h4>Area de conocimiento</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdArea)
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.NombreArea, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NombreArea, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NombreArea, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdRed, "IdRed", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdRed", null, "Selecciona una Red de Conocimiento", htmlAttributes: new { @class = "js-example-basic-single col-sm-12 form-control" })
                        @Html.ValidationMessageFor(model => model.IdRed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" /> |@Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
            $('form').on('submit', function (e) {
                let isValid = true;

                const nombreInput = $('#NombreArea');
                if (nombreInput.val().trim() === '') {
                    isValid = false;
                    nombreInput.addClass('is-invalid');
                    nombreInput.next('.text-danger').text('Este campo es obligatorio.');
                } else {
                    nombreInput.removeClass('is-invalid');
                    nombreInput.next('.text-danger').text('');
                }

                const redInput = $('#IdRed');
                if (redInput.val() === null) {
                    isValid = false;
                    redInput.addClass('is-invalid');
                    redInput.next('.text-danger').text('Selecciona una Red de Conocimiento.');
                } else {
                    redInput.removeClass('is-invalid');
                    redInput.next('.text-danger').text('');
                }

                if (!isValid) {
                    e.preventDefault();
                    alert('Por favor, complete todos los campos obligatorios.');
                }
            });
        });</script>
}
