@model ClaseModelo.Oferta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraReqTrimIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraReqTrimIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraReqTrimIIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraReqTrimIIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraReqTrimIIIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraReqTrimIIIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraReqTrimIVOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraReqTrimIVOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanInstPlantaOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanInstPlantaOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasContTrimIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasContTrimIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasContTrimIIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasContTrimIIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasContTrimIIIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasContTrimIIIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasContTrimIVOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasContTrimIVOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadInstContratoTrimIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadInstContratoTrimIIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIIIOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadInstContratoTrimIIIOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIVOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadInstContratoTrimIVOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrimestreProgramadosOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrimestreProgramadosOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAprendicesOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAprendicesOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCursosNuevosOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCursosNuevosOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCursosEPtrimestreOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCursosEPtrimestreOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCursosCursosNuevosOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCursosCursosNuevosOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCursosOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCursosOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadTrimProgramadosOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadTrimProgramadosOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadTrimEPOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadTrimEPOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalInstaContratarOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalInstaContratarOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AprenPasanOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprenPasanOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AprenProgOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprenProgOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CursoOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursoOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoOferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoOferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meta.IdMeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta.IdMeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.TipoDocumentoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.TipoDocumentoUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOferta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
