@model ClaseModelo.Oferta

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card-body align-items-center col-md-6 mx-auto">
        <div class="container-fluid">
            <div class="block block-bordered">
                <div class="card-header">
                    <h3>Oferta</h3>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdOferta)
            <div class="container-fluid mx-auto">

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaInicioOferta, "Fecha de inicio de la oferta", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.FechaInicioOferta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaInicioOferta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdMetas, "Meta de la oferta", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.DropDownList("Metas", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdMetas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreOferta, "Nombre de la oferta", htmlAttributes: new { @class = "control-label col-md-6   " })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.NombreOferta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreOferta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.NombreUsuario, "Coordinador Responsable", htmlAttributes: new { @class = "control-label col-md-6   " })
                    <div class="col-md-10">
                        <div class="col-md-10">
                            @Html.DropDownList("Usuario", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Usuario.NombreUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" /> | @Html.ActionLink("Volver", "Index")
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

}
