@model IEnumerable<ClaseModelo.Oferta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraReqTrimIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraReqTrimIIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraReqTrimIIIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraReqTrimIVOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanInstPlantaOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasContTrimIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasContTrimIIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasContTrimIIIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasContTrimIVOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIIIOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIVOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrimestreProgramadosOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAprendicesOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCursosNuevosOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCursosEPtrimestreOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCursosCursosNuevosOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCursosOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadTrimProgramadosOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadTrimEPOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInstaContratarOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AprenPasanOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AprenProgOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CursoOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta.IdMeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.TipoDocumentoUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraReqTrimIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraReqTrimIIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraReqTrimIIIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraReqTrimIVOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanInstPlantaOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasContTrimIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasContTrimIIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasContTrimIIIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasContTrimIVOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIIIOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIVOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrimestreProgramadosOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAprendicesOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCursosNuevosOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCursosEPtrimestreOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCursosCursosNuevosOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCursosOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadTrimProgramadosOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadTrimEPOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInstaContratarOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AprenPasanOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AprenProgOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CursoOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meta.IdMeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.TipoDocumentoUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOferta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOferta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOferta })
        </td>
    </tr>
}

</table>
