@model IEnumerable<ClaseModelo.Oferta>

@{
    ViewBag.Title = "Index";

}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Planeación</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">Planeación</li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>


<div class="card-body">

    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-1">
            <br />
            <button class="btn btn-outline-dark"><a href="@Url.Action("Create","Planeacion")">Crear</a></button>
        </div>
    </div>

    <br />
    <div class="block block-rounded">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <div class="block-option">
                    <h3 class="block-title">Trimestres programados:</h3>
                    <small>28</small>
                </div>
                <div class="block-option">
                    <h3 class="block-title">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</h3><small>ANALISIS Y DESARROLLO DE SISTEMAS DE INFORMACION</small>
                </div>
            </div>
        </div>
        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre Indicativo</th>
                        <th>Fecha Inicio</th>
                        <th>Coord. Responsable</th>
                        <th>Año Meta</th>
                        <th style="width: 15%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="fw-semibold fs-sm">@item.IdOferta</td>
                            <td class="fw-semibold fs-sm">@item.NombreOferta</td>
                            <td class="fw-semibold fs-sm">@(DateTime.Parse(item.FechaInicioOferta.ToString()).ToString("dd/MM/yyyy"))</td>
                            <td class="fs-sm">@item.Usuario.NombreUsuario</td>
                            <td class="fs-sm">
                                @if (int.TryParse(item.Meta.MetaFecha, out int metaFechaInt))
                                {
                                    if (metaFechaInt > DateTime.Now.Year)
                                    {
                                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">@metaFechaInt</span>
                                    }
                                    else if (metaFechaInt < DateTime.Now.Year)
                                    {
                                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-danger-light text-danger">@metaFechaInt</span>
                                    }
                                    else
                                    {
                                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">@metaFechaInt</span>
                                    }
                                }
                                else
                                {
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-secondary-light text-secondary">Invalid Date</span>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdOferta }) |
                                @Html.ActionLink("Fichas", "Planeacion_Ficha", new { id = item.IdOferta }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdOferta })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="card-body">
    <h3>Instructores a contratar año vigente <a class="fw-semibold"><span data-toggle="year-copy"></span></a></h3>
    <!-- Overview -->
    <div class="row items-push">
        <div class="col-sm-6 col-xxl-3">
            <!-- Pending Orders -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">4</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre I</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Pending Orders -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- New Customers -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">4</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre II</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #00324D !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarIITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END New Customers -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- Messages -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">2</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre III</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #CB7766 !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarIIITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Messages -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- Conversion Rate -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">2</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre IV</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #6A6A6A !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarVITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Conversion Rate-->
        </div>
    </div>

</div>


<!-- Dynamic Table Responsive -->
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraReqTrimIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraReqTrimIIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraReqTrimIIIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraReqTrimIVOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanInstPlantaOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasContTrimIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasContTrimIIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasContTrimIIIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasContTrimIVOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIIIOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInstContratoTrimIVOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrimestreProgramadosOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAprendicesOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCursosNuevosOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCursosEPtrimestreOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCursosCursosNuevosOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCursosOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadTrimProgramadosOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadTrimEPOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInstaContratarOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AprenPasanOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AprenProgOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta.IdMeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.TipoDocumentoUsuario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraReqTrimIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraReqTrimIIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraReqTrimIIIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraReqTrimIVOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanInstPlantaOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasContTrimIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasContTrimIIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasContTrimIIIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasContTrimIVOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIIIOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadInstContratoTrimIVOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrimestreProgramadosOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAprendicesOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCursosNuevosOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCursosEPtrimestreOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCursosCursosNuevosOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCursosOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadTrimProgramadosOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadTrimEPOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalInstaContratarOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AprenPasanOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AprenProgOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CursoOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoOferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meta.IdMeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.TipoDocumentoUsuario)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdOferta }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdOferta }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdOferta })
                </td>
            </tr>
        }

    </table>*@
