@model IEnumerable<ClaseModelo.Oferta>

@{
    ViewBag.Title = $"Planeación {(DateTime.Now.Year.ToString())}";

}


<br />
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <h3>Planeación</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item active">Planeación</li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
            @*<div class="col-sm-1">
                    <br />
                    <button class="btn btn-outline-dark"><a href="@Url.Action("Create","Planeacion")">Crear Oferta</a></button>
            </div>*@
    </div>
</div>


<div class="card-body">
    <br />
    <div class="block block-rounded">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <div class="block-option">
                    <h3 class="block-title">Trimestres programados:</h3>
                    <small>4</small>
                </div>
                @*<div class="block-option">
            <h3 class="block-title">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</h3><small>ANALISIS Y DESARROLLO DE SISTEMAS DE INFORMACION</small>
        </div>*@
                <div class="col-sm-8 d-flex justify-content-end">
                    <button class="btn btn-light"><a href="@Url.Action("Create","Planeacion")">Crear Oferta</a></button>
                </div>
            </div>
        </div>
        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-buttons table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Indicativo</th>
                            <th>Fecha Inicio</th>
                            <th>Coord. Responsable</th>
                            <th>Año Meta</th>
                            <th style="width: 15%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="fw-semibold fs-sm">@item.IdOferta</td>
                                <td class="fw-semibold fs-sm">@item.NombreOferta</td>
                                <td class="fw-semibold fs-sm">@(DateTime.Parse(item.FechaInicioOferta.ToString()).ToString("dd/MM/yyyy"))</td>
                                <td class="fs-sm">@item.Usuario.NombreUsuario</td>
                                <td class="fs-sm">
                                    @if (int.TryParse(item.Meta.MetaFecha, out int metaFechaInt))
                                    {
                                        if (metaFechaInt > DateTime.Now.Year)
                                        {
                                            <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">@metaFechaInt</span>
                                        }
                                        else if (metaFechaInt < DateTime.Now.Year)
                                        {
                                            <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-danger-light text-danger">@metaFechaInt</span>
                                        }
                                        else
                                        {
                                            <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">@metaFechaInt</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-secondary-light text-secondary">Invalid Date</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdOferta }) |
                                    @Html.ActionLink("Fichas", "Planeacion_Ficha", new { id = item.IdOferta }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdOferta })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <h3>Instructores a contratar año vigente <a class="fw-semibold"><span data-toggle="year-copy"></span></a></h3>
    <!-- Overview -->
    <div class="row items-push">
        <div class="col-sm-6 col-xxl-3">
            <!-- Pending Orders -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@ViewBag.TotalFichasActivasITrim</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre I</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Pending Orders -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- New Customers -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@ViewBag.TotalFichasActivasIITrim</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre II</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #00324D !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarIITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END New Customers -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- Messages -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@ViewBag.TotalFichasActivasIIITrim</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre III</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #CB7766 !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarIIITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Messages -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- Conversion Rate -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@ViewBag.TotalFichasActivasVITrim</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Trimestre IV</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #6A6A6A !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="@Url.Action("Instructores_ContratarVITrim",   "Planeacion")">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Conversion Rate-->
        </div>
    </div>

</div>