@model IEnumerable<ClaseModelo.Ficha>
@{
    ViewBag.Title = "Instructores_Contratar";

    int HORAS_TRIMESTRES_NOCTURNA = 220;

    int HORAS_TRIMESTRE_DIURNA = 440;
}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Instructores a Contratar - Detalles</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">Planeación</li>
                    <li class="breadcrumb-item active">Instructores a Contratar - @ViewBag.AñoActual</li>
                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>
<br />
<!--<div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5">
        <label class="form-label" for="example-flatpickr-custom">Programa de Formación</label>
        <select class="js-select2 form-select js-select2-enabled select2-hidden-accessible" id="example-select2" name="example-select2" style="width: 100%;" data-placeholder="Choose one.." data-select2-id="example-select2" tabindex="-1" aria-hidden="true">
            <option data-select2-id="2"></option>-->
<!-- Required for data-placeholder attribute to work with Select2 plugin -->
<!--<option value="1" data-select2-id="11">HTML</option>
        </select>
        <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="1" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-example-select2-container"><span class="select2-selection__rendered" id="select2-example-select2-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Choose one..</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
    </div>
</div>-->

<br />
<div class="card-body">
    <div>

    </div>
    <br />
    <div class="block block-rounded">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <div class="block-option">
                    <h3 class="block-title">Instructores a contratar - I Trimestre</h3>
                    <small>28</small>
                </div>

            </div>
        </div>
        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                <thead>
                    <tr>
                        <th>Red de Conocimiento</th>
                        <th>Area de Conocimiento</th>
                        <th>No. Fichas</th>
                        <th>Horas Requeridas</th>
                        <th>Horas Contratos</th>
                        <th>No. Instructores - Planta</th>
                        <th>No. Instructores - Contrato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Software</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">Red de mantenimiento electronico</td>
                        <td class="fw-semibold fs-sm">Mantenimiento Electronico</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Infraestructura</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center fs-sm">@item.CodigoFicha</td>
                                <td class="fw-semibold fs-sm">@item.Programa_Formacion.DenominacionPrograma</td>
                                <td class="fs-sm">@item.JornadaFicha</td>
                                <td>
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">@item.Programa_Formacion.NivelPrograma</span>
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">7/7</span>
                                </td>
                                <td>
                                    23/01/2023
                                </td>
                                <td>
                                    23/03/2025
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">16</span>
                                </td>
                            </tr>
                        }*@
                </tbody>

            </table>
        </div>
    </div>
    <div class="block block-rounded">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <div class="block-option">
                    <h3 class="block-title">Instructores a contratar - II Trimestre</h3>
                    <small>28</small>
                </div>

            </div>
        </div>
        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                <thead>
                    <tr>
                        <th>Red de Conocimiento</th>
                        <th>Area de Conocimiento</th>
                        <th>No. Fichas</th>
                        <th>Horas Requeridas</th>
                        <th>Horas Contratos</th>
                        <th>No. Instructores - Planta</th>
                        <th>No. Instructores - Contrato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Software</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">Red de mantenimiento electronico</td>
                        <td class="fw-semibold fs-sm">Mantenimiento Electronico</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Infraestructura</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center fs-sm">@item.CodigoFicha</td>
                                <td class="fw-semibold fs-sm">@item.Programa_Formacion.DenominacionPrograma</td>
                                <td class="fs-sm">@item.JornadaFicha</td>
                                <td>
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">@item.Programa_Formacion.NivelPrograma</span>
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">7/7</span>
                                </td>
                                <td>
                                    23/01/2023
                                </td>
                                <td>
                                    23/03/2025
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">16</span>
                                </td>
                            </tr>
                        }*@
                </tbody>

            </table>
        </div>
    </div>
    <div class="block block-rounded">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <div class="block-option">
                    <h3 class="block-title">Instructores a contratar - III Trimestre</h3>
                    <small>28</small>
                </div>

            </div>
        </div>
        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                <thead>
                    <tr>
                        <th>Red de Conocimiento</th>
                        <th>Area de Conocimiento</th>
                        <th>No. Fichas</th>
                        <th>Horas Requeridas</th>
                        <th>Horas Contratos</th>
                        <th>No. Instructores - Planta</th>
                        <th>No. Instructores - Contrato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Software</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">Red de mantenimiento electronico</td>
                        <td class="fw-semibold fs-sm">Mantenimiento Electronico</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Infraestructura</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center fs-sm">@item.CodigoFicha</td>
                                <td class="fw-semibold fs-sm">@item.Programa_Formacion.DenominacionPrograma</td>
                                <td class="fs-sm">@item.JornadaFicha</td>
                                <td>
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">@item.Programa_Formacion.NivelPrograma</span>
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">7/7</span>
                                </td>
                                <td>
                                    23/01/2023
                                </td>
                                <td>
                                    23/03/2025
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">16</span>
                                </td>
                            </tr>
                        }*@
                </tbody>

            </table>
        </div>
    </div>
    <div class="block block-rounded">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <div class="block-option">
                    <h3 class="block-title">Instructores a contratar - IV Trimestre</h3>
                    <small>28</small>
                </div>

            </div>
        </div>
        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                <thead>
                    <tr>
                        <th>Red de Conocimiento</th>
                        <th>Area de Conocimiento</th>
                        <th>No. Fichas</th>
                        <th>Horas Requeridas</th>
                        <th>Horas Contratos</th>
                        <th>No. Instructores - Planta</th>
                        <th>No. Instructores - Contrato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Software</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">Red de mantenimiento electronico</td>
                        <td class="fw-semibold fs-sm">Mantenimiento Electronico</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center fs-sm">INFORMATICA, DISEÑO Y DESARROLLO DE SOFWARE</td>
                        <td class="fw-semibold fs-sm">Infraestructura</td>
                        <td class="fs-sm">5</td>
                        <td>
                            1760
                        </td>
                        <td>
                            880
                        </td>
                        <td>
                            <span class="text-muted fs-sm">3</span>
                        </td>
                        <td>
                            <span class="text-muted fs-sm">2</span>
                        </td>
                    </tr>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center fs-sm">@item.CodigoFicha</td>
                                <td class="fw-semibold fs-sm">@item.Programa_Formacion.DenominacionPrograma</td>
                                <td class="fs-sm">@item.JornadaFicha</td>
                                <td>
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">@item.Programa_Formacion.NivelPrograma</span>
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">7/7</span>
                                </td>
                                <td>
                                    23/01/2023
                                </td>
                                <td>
                                    23/03/2025
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">16</span>
                                </td>
                            </tr>
                        }*@
                </tbody>

            </table>
        </div>
    </div>

</div>
